*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.wrap {
    width: 550px;
    height: 450px;
    padding: 10px;
    background-color: #A06D21;
    background-image: url(./vltt.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.title {
    text-align: center;
    color: #FFCC00;
}

.white {
    color: #fff;
}

p {
    margin: 5px 0;
}
