.wrap {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.wrap > .left {
    width: 300px;
}
.wrap > .right {
    width: 550px;
    height: 400px;
    position: relative;
}
.right li {
    color: black;
    font-size: 20px;
}
.right li > span {
    width: 100px;
    display: inline-block;
}
.center {
    text-align: center;
}
.pink {
    color: pink;
}
.background-pink {
    background-color: pink;
}
.white {
    color: #fff;
}
.bold {
    font-weight: bold;
}
.copyright {
    font-size: 20px;
    color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.right li:first-child  ul{
    list-style: square;
}