
h2 {
    text-align: center;
    color: pink;
}

font {
    font-weight: bold;
    color: white;
    background-color: pink;
}

.block{
    display: flex;
}

.block1 {
    width: 300px;
}

.block2 {
    width: 550px;
    height: 400px;
    position: relative;
}

ul.a {
    list-style: square;
}

a {
    position: absolute;
    bottom: 0;
    background-color: pink;
}