
.center {
    text-align: center;
}
.red {
    color: red;
}
.blue {
    color: #0000CC;
}
.green {
    color: green;
}
.background-gray {
    background-color: #CCCCCC;
}
.background-gray pre {
    padding-left: 20px;
}