body {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    
}

table {
    background-color: rgb(128, 233, 233);
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.title {
    color: #FE0000;
    font-size: 18px;
    font-weight: bold;
}
.error {
    color: red;
    font-size: 18px;
}

.success {
    color: green;
    font-size: 18px;
}




