* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center {
    width: 500px;
    margin: 0 auto;
}
.tbl {
    border-spacing: 0px;
    width: 100%;
}
.tbl tr td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    color: white;
    background-color: rgb(134, 232, 134);
}
.w-100 {
    width: 100%;
}

.title {
    color: green;
    text-align: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}
.message {
    color: red !important;
}








